.demo-buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 40px;
  flex-wrap: wrap;

  button {
    margin: 8px;
  }
}

.demo-area {
  margin: 0 40px;
  border: green 1px solid;
  background-color: aliceblue;
  border-radius: 10px;
  padding: 10px;
}
