<!--The content below is only a placeholder and can be replaced.-->
<div class="demo-buttons">
  <button mat-raised-button [routerLink]="['/choose']" routerLinkActive #rlaHome="routerLinkActive" [color]="rlaHome.isActive ? 'primary' : 'secondary'">Home</button>
  <button mat-raised-button [routerLink]="['/demo1']" routerLinkActive #rla1="routerLinkActive" [color]="rla1.isActive ? 'primary' : 'secondary'">Demo 1</button>
  <button mat-raised-button [routerLink]="['/demo2']" routerLinkActive #rla2="routerLinkActive" [color]="rla2.isActive ? 'primary' : 'secondary'">Demo 2</button>
  <button mat-raised-button [routerLink]="['/demo3']" routerLinkActive #rla3="routerLinkActive" [color]="rla3.isActive ? 'primary' : 'secondary'">Demo 3</button>
  <button mat-raised-button [routerLink]="['/demo4']" routerLinkActive #rla4="routerLinkActive" [color]="rla4.isActive ? 'primary' : 'secondary'">Demo 4</button>
  <button mat-raised-button [routerLink]="['/demo5']" routerLinkActive #rla5="routerLinkActive" [color]="rla5.isActive ? 'primary' : 'secondary'">Demo 5</button>
  <button mat-raised-button [routerLink]="['/demo6']" routerLinkActive #rla6="routerLinkActive" [color]="rla6.isActive ? 'primary' : 'secondary'">Demo 6</button>
</div>
<section class="demo-area">
  <router-outlet></router-outlet>
</section>
